#head_icon {
	display: table-cell;
	vertical-align: top;
	width: 100px;
	height: 74px;
	background-image: url('../resource/random_playlist_img.jpg');
	background-position: center;
	background-size: cover;
}

#head_title {
	font-size: 50px;
	margin-left: 10px;
	font-family: 'Times New Roman', Times, serif;
}

#music-condition-container {
	width: 30%;
}

.white-transparent-box {
	background-color: rgba(255, 255, 255, 0.3);
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.btn-custom {
	background-color: radial-gradient(circle, rgba(255, 155, 167, 0.3), rgba(123, 162, 255, 0.3));
	/* 더 불투명한 흰색 배경색 */
	color: #000000;
	/* 텍스트 색상을 원하는 색으로 지정 */
}

.btn-custom:hover {
	background-color: radial-gradient(circle, rgba(255, 155, 167, 0.1), rgba(123, 162, 255, 0.1));
	/* 마우스 호버 시 더 불투명한 효과 */
}

.label-custom {
	background-color: radial-gradient(circle, rgba(255, 123, 167, 0.7), rgba(123, 162, 255, 0.7));
	/* 더 불투명한 버튼의 색상 */
	color: #000000;
}

.gradient_background {
	flex-grow: 1;
	background: radial-gradient(circle, rgba(255, 123, 167, 0.6), rgba(123, 162, 255, 0.6));
}

@keyframes slideUp {
	from {
		transform: translateY(100%);
	}

	to {
		transform: translateY(0);
	}
}

#realtime-chart {
	width: 300px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
	color: white;
	animation: slideUp 0.5s ease-in-out;
}